services:
  postgresql:
    image: postgres:latest
    container_name: rocketseat_gobid_postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: gobid
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
  
volumes:
  postgres_data:
